function Main.main 5
call Game.new 0
pop local 0
push constant 0
pop local 3
push constant 0
pop local 4
push constant 0
pop local 2
push local 0
call Game.showHello 1
pop temp 0
push constant 5000
call Sys.wait 1
pop temp 0
push local 0
call Game.createBoard 1
pop temp 0
label WHILE_EXP0
push local 3
not
push local 4
not
and
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 0
call Game.failGame 1
pop local 4
push local 0
call Game.winGame 1
pop local 3
push local 2
push constant 1
add
pop local 2
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Game.showWin 1
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
call Game.showFail 1
pop temp 0
label IF_END0
push local 0
call Game.dispose 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
return
